head
	script(SameSite=None data-ad-client="ca-pub-7048366207195043" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
body
	a(href="http://godalming123.github.io/importable-css-js") a importable styling and js libary (using this is highly unrecommended as it has poor documentation and is constantly changing in the way you use it
	br
	a(href="http://godalming123.github.io/test-my-web-skills") a website to show my skills (this is also unmaitained and is currently broken.