<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<title>{{ page.title }} - godalming123</title>
<meta name="description" content="{{ page.excerpt }}">
<meta name="theme-color" content="#317EFB"/>

<!-- animation dependency's -->
<script defer src="https://unpkg.com/@barba/core"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/gsap.min.js"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/ScrollTrigger.min.js"></script>
<!-- animation scripts -->
<script defer src="{{ "/assets/js/animations/pageFirstLoad.js?v=" | append: site.github.build_revision | relative_url }}"></script>
<script defer type="module" src="{{ "/assets/js/animations/SlideOnVeiwportEnter.js?v=" | append: site.github.build_revision | relative_url }}"></script>
<script defer type="module" src="{{ "/assets/js/animations/barba.js?v=" | append: site.github.build_revision | relative_url }}"></script>
<script defer type="module" src="{{ "/sw.js?v=" | append: site.github.build_revision | relative_url }}"></script>

<!-- other scripts -->
<script defer async src="{{ "/assets/js/google-anylytics.js?v=" | append: site.github.build_revision | relative_url }}"></script>

<!-- You can set your favicon here -->
<link rel="shortcut icon" type="image/x-icon" href="{{ '/profile_pic.png' | relative_url }}">
<link rel="manifest" href="{{ "/assets/manifest.json?v=" | append: site.github.build_revision | relative_url }}">

<!-- end custom head snippets -->
