@import "variables";

.profile-picture {
  border-radius: 999px;
  max-width: 300px;
  width: 100%;
}
  
.centered {
  text-align: center;
}

header > h1,
header > h2,
header > h3,
header > h4,
header > h5 {
  margin-bottom: 5px;
  margin-top: 7px;
}

.do-not-track-message {
  //position
  position: fixed;
  right: 10px;
  bottom: 0px;
  transform: translateY(105%);// hide from screen
  z-index: 20;
  //styles
  background-color: var(--clr-code-bg);
  color: var(--clr-code-text);
  border-radius: 5px;
  padding: 5px 10px;
  width: 400px;
  max-width: calc(100% - 40px);
  transition: 0.5s;
}

#active-do-not-track-message {
  transform: translateY(-10px);//add padding between top of screen and element
}

.sort-options {
  display: flex;
  align-items: center;
  & > .sort-option {
    text-align: center;
    cursor: pointer;
    transition: 250ms;
    background: var(--clr-code-bg-alt);
    border-radius: 5px;
    margin: 5px 10px;
    padding: 5px 10px;
    &:hover {
      background-color: var(--clr-code-bg);
    }
    &.sort-option-selected {
      background-color: var(--clr-code-bg);
    }
  }
}

p, h1, h2, h3, h4, h5, h6 {
  max-width:500px;
}

a > img {
  height: 1em;
  margin-right: 5px;
}
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, min-max(250px 1fr));
  grid-gap: 0.5em;

  &.project {
    color: var(--clr-text);
    background: var(--clr-code-bg);
    border-radius: 5px;
    cursor: pointer;
    border: var(--clr-code-border);
    &:hover {
      background: var(--clr-code-bg-alt);
    }
  }
}

@media (prefers-color-scheme: dark) {
  .invert-on-dark {
    filter: invert(100%);
  }
}

@media (max-width: 960px) {
  img.profile-picture {
    height: 1em;
    width: 1em;
  }
}