@import "variables";

.profile-picture {
  border-radius: 999px;
  max-width: 300px;
  width: 100%;
}
  
.centered {
  text-align: center;
}

header > h1,
header > h2,
header > h3,
header > h4,
header > h5 {
  margin-bottom: 5px;
  margin-top: 7px;
}

.do-not-track-message {
  //position
  position: fixed;
  right: 10px;
  bottom: 0px;
  transform: translateY(105%);// hide from screen
  //styles
  background-color: var(--clr-code-bg);
  color: var(--clr-code-text);
  border-radius: 5px;
  padding: 5px 10px;
  width: 400px;
  transition: 0.5s;
}

#active-do-not-track-message {
  transform: translateY(-10px);//add padding between top of screen and element
}