@import "variables";

.profile-picture {
    border-radius: 999px;
    max-width: 300px;
    width: 100%;
  }
  
  .centered {
    text-align: center;
  }

header > h1, h2, h3, h4, h5 {
  margin-bottom: 5px;
  margin-top: 7px;
}