html {
  scroll-behavior: smooth;
}

//clickable divs
.clickable-div {
  position: relative;
}

.clickable-div > .clickable-div-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-indent: -9999px;
  overflow: hidden;
}

.clickable-div a {
  z-index: 20;
  position: relative;
}

//alignment styles
p,
h1,
h2,
h3,
h4,
h5,
h6,
strong,
small,
li,
code,
blockquote,
.footer-text,
.alignment-1 {
  max-width: 500px;
  margin: 0 auto;
  width: calc(100% - 10px);
}
img,
.alignment-2 {
  text-align: center;
  margin: auto;
}
.alignment-2 > * {
  text-align: left;
}

//an image inside any form of text should be the same size as the text
a > img,
h1 > img,
h2 > img,
h3 > img,
h4 > img,
h5 > img,
h6 > img,
p > img,
.sort-option > img {
  height: 1em;
  width: 1em;
  margin-right: 5px;
}

// card grid
.card-container {
  margin: 0 auto;
  padding: 0 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
  grid-gap: 0 1.25em;
  max-width: 1200px;
}
.card-fetuered {
  grid-column: span 2;
}
.card-smalltext {
  text-transform: uppercase;
}
.card-image > img {
  object-fit: cover;
  height: 100%;
}
@supports (grid-template-rows: masonry) {
  .card-container {
      grid-template-rows: masonry;
      //align-tracks: stretch;
  }
}
//cards themselfs
.card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
}
.card-content {
  grid-column: span 2;
}

//fix bad font weight on strong
strong {
  font-weight: bold;
}

//img alt text styles
img {
  font: italic 200 1em Georgia, serif;
}

// sidenav and elemnts inside it styles
.sidenav {
  text-align: center;
}
.sidenav-trigger {
  position: fixed;
  bottom: 5px;
  right: 5px;
  z-index: 3;
}

.profile-picture {
  border-radius: 999px;
  //if our height is greater then 800px
  @media (min-height: 800px) {
      max-width: 250px;
      width: 100%;
      height: auto;
      margin-top: 10px;
  }
}

footer {
  background: black;
  color: white;
  padding: 20px 0;
  margin-top: 20px;
}

//displays
.display-block {
  display: block;
}

//sidebar opens
@media (min-width: 992px) {
  body {
    padding-right: 300px;
  }
  .sidenav {
    box-shadow: none;
    transition: 250ms;
  }
}
