---
layout: default
title: "home"
---

<main data-barba="container" data-barba-namespace="home">
<h1 id="hello"><img loading="lazy" src="/icons/hello.svg" class="invert-on-dark">Hello!</h1>

{{content}}

<!-- sort options -->
<!-- display block so we can set max-width on line 13 in style.css-->
<strong class="display-block">Sort By</strong>
<div class="sort-btns alignment-2">
  <a class="btn waves-effect waves-light disabled">Grouped List</a>
  <a class="btn waves-effect waves-light">What I'm Working On</a>
  <a class="btn waves-effect waves-light">My Tuturiols</a>
  <a class="btn waves-effect waves-light">My Blogs</a>
  <a class="btn waves-effect waves-light">Potentilly Coming Soon</a>
</div>

<!-- sections -->
{% for collection in site.collections %}
  <!-- title -->
  <h4 id="{{ collection.label }}" >
    {% if collection.icon != "" %}
      <img src="{{ collection.icon }}" alt="{{ collection.iconAlt }}" class="invert-on-dark">
    {% endif %}

    {{ collection.name }}
  </h4>

  <!-- description -->
  {% if collection.description != "" %}
    <p>{{ collection.description }}</p>
  {% endif %}

  <!-- content -->
  <div class="card-container alignment-2">
    {% for document in collection.docs %}
      <!-- content item -->
      <div class="clickable-div card grey lighten-4 waves-effect">
        <!-- url -->
        <a href="{{ document.url }}" class="clickable-div-link">text of my link</a>
        <!-- image -->
        {% if document.front-image != "" %}
          <div class="card-image">
            <img src="{{ document.front-image }}">
          </div>
        {%endif%}
        <!-- text -->
        <div class="card-content">
          <!-- date -->
          <span class="card-smalltext">{{ document.date | date: "%-d %B %Y" }}</span>
          <!-- title -->
          <span class="card-title">{{ document.title }}</span>
          <!-- desription -->
          <p>{{ document.excerpt }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
{% endfor %}