---
layout: default
---

<h1>Hello!</h1>

{{content}}

<!-- working_on -->
<h2>What I'm Working On</h2>

{% for working_on in site.working_on %}
<div>
  <small>{{ working_on.date | date: "%-d %B %Y" }}</small>
  <li><h2><a href="{{ working_on.url }}">{{ working_on.title }}</a></h2></li>
  {{ working_on.excerpt }}
</div>
{% endfor %}

<!-- tuturiols -->
<h2>My Tuturiols</h2>

{% for tuturiol in site.tuturiols %}
<div>
  <small>{{ tuturiol.date | date: "%-d %B %Y" }}</small>
  <li><h2><a href="{{ tuturiol.url }}">{{ tuturiol.title }}</a></h2></li>
  {{ tuturiol.excerpt }}
</div>
{% endfor %}

<!-- blogs -->
<h2>My Blogs</h2>

{% for blog in site.blogs %}
<div>
  <small>{{ blog.date | date: "%-d %B %Y" }}</small>
  <li><h2><a href="{{ blog.url }}">{{ blog.title }}</a></h2></li>
  {{ blog.excerpt }}
</div>
{% endfor %}