---
layout: default
title: "what I'm working on"
---

<!-- working_on -->
<main data-barba="container" data-barba-namespace="working_on">
<h1><img src="/icons/suitcase.svg" class="invert-on-dark">What I'm Working On</h1>

<p>Welcome to the projects I'm working on</p>

{% for working_on in site.working_on %}
<div>
  <small>{{ working_on.date | date: "%-d %B %Y" }}</small>
  <li><h2><a href="{{ working_on.url }}">{{ working_on.title }}</a></h2></li>
  {{ working_on.excerpt }}
</div>
{% endfor %}
</main>